<div class="nav">
    <nav class="nav1">
        <a href="/pets"><h1 class="title">PetRescue</h1></a>
    </nav>
    <nav class="nav2">
        <div class="nav2content">
            <a href="/pets/new" style="font-size: x-large;font-style: bold;">Add Pet</a>
            <form action="/pets/search" method="GET" class="form">
                <input type="text" name="search" placeholder="Search... (breed, type)" class="search">
                <button type="submit" class="searchbtn"><i class="fa-solid fa-bone fa-2xl"></i></button>
            </form>
        </div>
    </nav>
</div>