<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <nav class="nav1">
            <h1 class="title">PetRescue</h1>
        </nav>
        <nav class="nav2">
            <div class="nav2content">
                <form action="/pets/search" method="GET">
                    <input type="text" name="search" placeholder="Enter a search term">
                    <button type="submit">Search</button>
                </form>
                <a href="/pets/new">Add Pet</a>
            </div>
        </nav>
    </div>
    <img src="https://newevolutiondesigns.com/images/freebies/4k-dog-wallpaper-1.jpg" class="homeImg">

    <% for(let i = 0; i < pets.length; i++){ %>
    <div class="card">
        <a href="/pets/<%= pets[i]._id %>"><img src="<%=pets[i].img%>" style="width: 100%;border-radius: 5px 5px 0 0;"></a>
        <div class="cardContainer">
            <h2><%=pets[i].name%></h2>
            <h3><%=pets[i].type%></h3>
        </div>
    </div>
    <%}%>
</body>
</html>