<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <title>Document</title>
</head>
<body>
<div class="nav-form">
    <nav class="nav1-form">
        <h1 class="title-form">PetRescue</h1>
    </nav>
    <nav class="nav2-form">
        <div class="nav2content-form">
            <a href="/pets" style="font-size: x-large;font-style: bold;">Home</a>
        </div>
    </nav>
</div>
<h1>Create New Animal</h1>

<div class="form">
    <form action="/pets" method="POST">

        <div class="inputBox">
            <input type="text" name="name" placeholder="NAME">
        </div>
        <div class="inputBox">
            <input type="text" name="type" placeholder="TYPE">
        </div>
        <div class="inputBox">
            <input type="text" name="breed" placeholder="BREED">
        </div>
        <div class="inputBox">
            <input type="number" name="age" placeholder="AGE">
        </div>
        <div class="inputBox">
            <input type="text" name="color" placeholder="COLOR">
        </div>
        <div class="inputBox">
            <input type="text" name="img" placeholder="IMG LINK">
        </div>
        <div class="aggressive">
            AGGRESSIVE<input type="checkbox" name="aggressive">
        </div>
        <div class="createBTN">
            <input type="submit" value="Create Animal">
        </div>



    </form>
</div>


</body>
</html>